header {
    text-align: center;
}

.table {
    margin: auto;
}

td {
    width: 100px;
    height: 100px;
    background-color: indianred;
    text-align: center;
    color: transparent;
}

.resetButton {
    display: block;
    margin: 20px auto;
    font-size: 16px;
}

.labelScore {
    display: block;
    text-align: center;
    font-size: 20px;
}