html {
    size: auto;
    background: url("images/bg_sky.png") no-repeat center center fixed;
    background-size: cover;
    font-family: "Comic Sans MS", sans-serif;
    color: #fbffa7;
}

header {
    background-color: rgb(68, 118, 30);
    border-radius: 20px;
    height: 150px;
    box-sizing: border-box;
    max-height: 150px;
    margin: auto;
    width: 90%;
    max-width: 1100px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Segoe Script", "Comic Sans MS", sans-serif;
    text-align: center;
}

header h1 {
    font-size: 400%;
    text-transform: uppercase;
    color: #f5fd5b;
    line-height: 100%;
}

#gameScreen {
    display: none;
    position: relative;
}

#rulesScreen {
    display: none;
}

.levelButtons, .levelSubMenu, .mainMenuButtons, .rulesText, .rulesMenu {
    list-style-type: none;
    margin: 20px auto;
    border-radius: 20px;
    width: 80%;
    max-width: 900px;
    padding: 30px;
    background-color: #73a43b;
}

.levelSubMenu, .rulesMenu {
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
    justify-content: space-around;
    align-items: center;
}

.levelButtons li, .levelSubMenu li, .mainMenuButtons li, .rulesMenu li {
    width: 270px;
    margin: 10px auto;
    font-size: 28px;
    text-decoration: none;
    text-align: center;
}

.levelSubMenu li, .rulesMenu li {
    text-transform: uppercase;
    font-family: "Segoe Script", "Comic Sans MS", sans-serif;
}

.levelButtons li:hover, .levelSubMenu li:hover, .mainMenuButtons li:hover, .rulesMenu li:hover {
    cursor: auto;
    background-color: rgb(68, 118, 30);
    border-radius: 15px;
}

.container {
    list-style-type: none;
    margin: 20px auto;
    border-radius: 20px;
    width: fit-content;
    padding: 30px;
    background-color: #73a43b;
    display: flex;
}

.table {
    margin: auto;
    border-spacing: 10px;
}

td {
    width: 100px;
    min-width: 80px;
    height: 120px;
    background-size: 120px;
    background-position: center center;
    background-image: url("images/back_card.png");
    border-radius: 5px;
    text-align: center;
    color: transparent;
    user-select: none;
}

.labelScore {
    position: relative;
    display: block;
    text-align: center;
    font-size: 20px;
}

.labelScoreContainer {
    position: absolute;
    top: 95px;
    max-width: 100%;
    left:0px;
    right: 0px;
    height: 50px;
    overflow: hidden;
}

.resetButton {
    display: block;
    position: relative;
    margin: 0px auto;
    background-color: #73a43b;
    border: 0px;
    text-transform: uppercase;
    font-family: "Segoe Script", "Comic Sans MS", sans-serif;
    font-size: 28px;
    border-radius: 20px;
    width: 200px;
    padding: 10px;
    color: #fbffa7;
}

.resetButton:hover {
    background-color: #44761E;
}

.rulesText {
    font-size: 22px;
}

footer {
    background-size: contain;
    background-image: url("images/bg_grass.png");
    background-repeat: repeat-x;
    text-align: center;
    box-sizing: border-box;
    position: fixed;
    bottom: 0px;
    padding-top: 30px;
    width: 100%;
    max-width: 100%;
    left: 0px;
    z-index: -1;
    height: 70px;
}