#gameScreen {
    /*visibility: visible;*/
    display: none;
}

.levelButtons {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.levelButtons li {
    width: 270px;
    margin: 10px auto;
    font-size: 30px;
    text-decoration: none;
    text-align: center;
}

.levelButtons li:hover {
    cursor: auto;
    background-color: darkgrey;
}

.mainMenuButtons {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.mainMenuButtons li {
    width: 270px;
    margin: 10px auto;
    font-size: 30px;
    text-decoration: none;
    text-align: center;
}

.mainMenuButtons li:hover {
    cursor: auto;
    background-color: darkgrey;
}

header {
    text-align: center;
}

.table {
    margin: auto;
}

td {
    width: 100px;
    height: 100px;
    background-size: 100px;
    background-color: indianred;
    text-align: center;
    color: transparent;
}

.resetButton {
    display: block;
    margin: 20px auto;
    font-size: 16px;
}

.labelScore {
    display: block;
    text-align: center;
    font-size: 20px;
}

.rulesText {
    margin-left: auto;
    margin-right: auto;
    width: 650px;
    font-size: 22px;
}
