html {
    size: auto;
    background: url("images/bg_sky.png") no-repeat center center fixed;
    background-size: cover;
    font-family: "Comic Sans MS", sans-serif;
    color: #fbffa7;
}

header {
    background-color: rgb(68, 118, 30);
    border-radius: 20px;
    height: 150px;
    box-sizing: border-box;
    max-height: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 90%;
    max-width: 1100px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Segoe Script", "Comic Sans MS", sans-serif;
    text-align: center;
    position: relative;
}

header h1 {
    font-size: 400%;
    text-transform: uppercase;
    color: #f5fd5b;
    line-height: 100%;
}

.sound_icon img {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    display: none;
}

.sound_icon .on {
    display: block;
}

.sound_icon:hover .on {
    display: none;
}

.sound_icon:hover .on_hover {
    display: block;
}

#gameScreen {
    display: none;
    position: relative;
}

#rulesScreen {
    display: none;
}

.levelButtons, .levelSubMenu, .mainMenuButtons, .rulesText, .rulesMenu, .winText {
    list-style-type: none;
    margin: 20px auto;
    border-radius: 20px;
    width: 80%;
    max-width: 900px;
    padding: 30px;
    background-color: #73a43b;
}

.levelSubMenu, .rulesMenu {
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
    justify-content: space-around;
    align-items: center;
}

.levelButtons li, .levelSubMenu li, .mainMenuButtons li, .rulesMenu li, .winText h1, .winText p {
    width: 270px;
    margin: 10px auto;
    font-size: 28px;
    text-decoration: none;
    text-align: center;
}

.winText h1, .winText p {
    width: auto;
}

.winText p {
    font-size: 20px;
}

.winScreen {
    display: none;
}

.levelSubMenu li, .rulesMenu li {
    text-transform: uppercase;
    font-family: "Segoe Script", "Comic Sans MS", sans-serif;
}

.levelButtons li:hover, .levelSubMenu li:hover, .mainMenuButtons li:hover, .rulesMenu li:hover {
    cursor: default;
    background-color: rgb(68, 118, 30);
    border-radius: 15px;
}

.container {
    list-style-type: none;
    margin: 20px auto;
    border-radius: 20px;
    width: fit-content;
    padding: 30px;
    background-color: #73a43b;
    display: flex;
}

.table {
    margin: auto;
    border-spacing: 10px;
}

td {
    width: 100px;
    min-width: 80px;
    height: 120px;
    background-size: 120px;
    background-position: center center;
    background-image: url("images/back_card.png");
    border-radius: 5px;
    text-align: center;
    color: transparent;
    user-select: none;
}

.labelScore {
    position: relative;
    display: block;
    text-align: center;
    font-size: 20px;
}

.labelScoreContainer {
    position: absolute;
    top: 95px;
    max-width: 100%;
    left:0px;
    right: 0px;
    height: 50px;
    overflow: hidden;
}

/*#leaderBoardWrapper {*/
/*    height: 100px;*/
/*    overflow: scroll;*/
/*}*/

.leaderBoard {
    position: relative;
    max-height: calc(100vh - 280px);
    overflow-y: scroll;
    display: block;
    margin: 0 auto;
}

.leaderBoard::-webkit-scrollbar {
    width: 0px;
}

.leaderBoardTable td{
    width: 100px;
    height: 40px;
    background-color: #73a43b;
    background-size: 120px;
    background-position: center center;
    background-image: none;
    border-radius: 5px;
    text-align: center;
    color: #fbffa7;
}

.resetButton, .mainMenuButton {
    display: block;
    position: relative;
    margin: 0px auto;
    background-color: #73a43b;
    border: 0px;
    text-transform: uppercase;
    font-family: "Segoe Script", "Comic Sans MS", sans-serif;
    font-size: 28px;
    border-radius: 20px;
    width: 200px;
    padding: 10px;
    color: #fbffa7;
}

.mainMenuButton {
    width: 400px;
}

.leaderBoard .table {
    margin: auto;
    border-spacing: 0;
}

.leaderBoard {
    display: flex;
    justify-content: center;
    position: relative;
    margin: auto;
}

.resetButton:hover,  .mainMenuButton:hover {
    background-color: #44761E;
}

.rulesText {
    font-size: 22px;
}

#inputName {
    display: flex;
    flex-flow: column;
    align-items: center;
}

#inputName label input, #submitButton {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    border: 0px;
    font-family: "Comic Sans MS", sans-serif;
}

#inputName label input {
    height: 30px;
    color: #44761E;
    margin: 0px;
    background-color: transparent;
}

#inputName label input::placeholder {
    color: #73a43b;
    opacity: 50%;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    overflow: hidden;
    background-color: #fbffa7;
}

#submitButton {
    font-size: 20px;
    background-color: #44761E;
    padding: 5px;
    margin: 0px;
    color: #fbffa7;
    display: inline-block;
    font-family: "Segoe Script", "Comic Sans MS", sans-serif;
    text-transform: uppercase;
}

#submitButton:hover {
    color: #f5fd5b;
}

footer {
    background-size: contain;
    background-image: url("images/bg_grass.png");
    background-repeat: repeat-x;
    text-align: center;
    box-sizing: border-box;
    position: fixed;
    bottom: 0px;
    padding-top: 30px;
    width: 100%;
    max-width: 100%;
    left: 0px;
    z-index: -1;
    height: 70px;
}